/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*font declarations*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-BlackItalic.woff2') format('woff2'),
    url('PlayfairDisplaySC-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-Black.woff2') format('woff2'),
    url('PlayfairDisplaySC-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-Bold.woff2') format('woff2'),
    url('PlayfairDisplaySC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-Regular.woff2') format('woff2'),
    url('PlayfairDisplaySC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-Italic.woff2') format('woff2'),
    url('PlayfairDisplaySC-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display SC';
  src: url('PlayfairDisplaySC-BoldItalic.woff2') format('woff2'),
    url('PlayfairDisplaySC-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Playfair Display SC';
  color: #2b2b2b;
  font-size: 22px;
}

body a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.header-top {
  background: #2b2b2b url('../images/monochrome-banner.png') no-repeat center
    center;
  background-size: cover;
  min-height: 500px;
}

.header-top-social {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.header-top-social-left {
  float: left;
  display: inline-flex;
  align-items: center;
}

.header-contact p,
.header-social li {
  margin-top: 43px;
  display: inline-flex;
  margin-right: 20px;
}

.header-contact p {
  margin-left: 15px;
}

.header-social a,
.header-contact a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}

.header-controls {
  float: right;
  display: inline-flex;
  align-items: center;
  margin-top: 32px;
}

.search-controls {
  position: relative;
}

.search-controls input {
  width: 254px;
  height: 30px;
  border: 1px solid #cccccc;
  margin-right: 30px;
}

.search-controls input::placeholder {
  padding-left: 45px;
  color: #2b2b2b;
  font-family: 'Roboto';
  font-size: 14px;
}

.search-controls button {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 1;
}

.header-controls .icon {
  margin-right: 30px;
  font-size: 22px;
}

.header-bottom {
  background: #2b2b2b;
  background-size: cover;
  min-height: 52px;
}

.nav-primary {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nav-primary li {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.nav-primary a {
  margin-top: 10px;
  font-weight: normal;
  text-transform: uppercase;
  color: #e8e8e8;
  font-size: 19px;
}
